<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width">
    <title>
        <%= title %>
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet"> -->
</head>

<body class="bg-img-2">


    <h2 style="text-align:center; font-family:'Lobster',monospace;">
        <%= title %>
    </h2>

    <div class="card">
        <div class="card-body">
            <h3 class="card-title mb-3">BOMBING Frequency</h3>
            <div class='row g-2 col-sm-12 mb-5'>
                <div class="form-floating col-2">
                    <input type="text" class="form-control" id="broker_url_txt" name="broker_url" value="10.137.89.22"
                        placeholder="Broker URL">
                    <label for="broker_url_txt">Broker</label>
                </div>

                <div class="form-floating col-1">
                    <input type="text" class="form-control" id="tcp_broker_port_txt" value="1885"
                        placeholder="TCP PORT">
                    <label for="tcp_broker_port_txt">TCP PORT</label>
                </div>

                <div class="form-floating col-1">
                    <input type="text" class="form-control" id="quic_broker_port_txt" value="8885"
                        placeholder="QUIC PORT">
                    <label for="quic_broker_port_txt">QUIC PORT</label>
                </div>

                <div class="form-floating col-1">
                    <input type="text" class="form-control" id="upd_inter_txt" value="5" placeholder="Interval">
                    <label for="broker_port_txt">Interval</label>
                </div>

                <button class="btn btn-primary col-1" onclick="bomb_click()">BOMB</button>
            </div>

            <div style="display: flex; justify-content: space-evenly; flex-wrap: wrap;">
                <div class="col-sm-5">
                    <canvas id="bomb_send_chart" width="400" height="200"></canvas>
                </div>
                <div class="col-sm-5">
                    <canvas id="bomb_rec_chart" width="400" height="200"></canvas>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.4.1/dist/chart.min.js"></script>
    <script src="/javascripts/lab_script.js"></script>

</body>


</html>