<!DOCTYPE html>
<html>

<head>

    <meta name="viewport" content="width=device-width">
    <title>
        <%= title %>
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>

<body style="background-color: yellowgreen;">
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <h2 style="font-family:'Lobster', Monospace, Geneva, Verdana, sans-serif;">
            <%= title %>
        </h2>

        <!-- <nav id="nav-bar" style="position: relative; right: 50px;">
            <ul id="navigation">
                <li><a class="nav-link" href="/">Home</a></li>
                <li><a class="nav-link" href="https://en.wikipedia.org/wiki/QUIC">Working</a></li>
                <li><a class="nav-link" href="https://www.viasat.com/contact/">About Us</a></li>

            </ul>
        </nav>

        <div style="display: flex; flex-direction: column; align-items: center;">
            <img src="images/quic-logo2.png" style="height: 60px; width:60px;">
            <p> Jim Roskind <img src="images\google-logo.png" style="height:20px; width: 20px;"></p>
        </div> -->
    </div>
    <form action="/messageRoom" method="post" style="margin: 20px auto; width: fit-content;">
        <div style="display: flex;
        justify-content: space-around;
        align-items: stretch;
        flex-wrap: wrap;">
            <div class="m-2">
                <div class="card mb-1" style="border-width: 5px; border-radius: 10px;">
                    <div class="card-body">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="clean_session_check"
                                name="clean_session" checked>
                            <label class="form-check-label" for="clean_session_check">CLEAN SESSION</label>
                        </div>
                        <div class="row g-2">
                            <div class="form-floating mb-3 col-6">
                                <input type="text" class="form-control" id="client_id_txt" name="client_id"
                                    placeholder="Client ID">
                                <label for="client_id_txt">Client ID</label>
                            </div>

                            <div class="form-floating mb-3 col-4 col-sm-3">
                                <input type="text" class="form-control" id="keep_alive_txt" name="keep_alive"
                                    placeholder="Alive" value="60">
                                <label for="keep_alive_txt">Alive</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" style="border-width: 5px; border-radius: 10px;">
                    <div class="card-body">
                        <h5 class="card-title">MQTT Broker</h5>
                        <div class="form-floating mb-3">
                            <div class='col-sm-6' style="display: inline-block;">Transport Layer Protocol:</div>
                            <div class="form-check" style="display: inline;">

                                <input type="radio" class="btn-check" name="trans_prot" id="trans_TCP"
                                    autocomplete="off" value="tcp" checked>
                                <label class="btn btn-outline-success" for="trans_TCP"
                                    onclick="select_TCP()">TCP+TLS</label>

                                <input type="radio" class="btn-check" name="trans_prot" id="trans_QUIC"
                                    autocomplete="off" value="quic">
                                <label class="btn btn-outline-primary" for="trans_QUIC"
                                    onclick="select_QUIC()">QUIC</label>
                            </div>
                        </div>

                        <div class="row g-2">

                            <div class="form-floating col-7">
                                <input type="text" class="form-control" id="broker_url_txt" name="broker_url"
                                    value="localhost" placeholder="Broker URL">
                                <label for="broker_url_txt">URL</label>
                            </div>

                            <div class="form-floating col-sm-3 col-5">
                                <input type="text" class="form-control" id="broker_port_txt" name="broker_port"
                                    value="1885" placeholder="PORT">
                                <label for="broker_port_txt">PORT</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card m-2" style="border-width: 5px; border-radius: 10px;">
                <div class="card-body">
                    <h5 class="card-title mb-3">Last Will</h5>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="last_will_topic_txt" name="last_will_topic"
                            placeholder="Last Will Topoic">
                        <label for="last_will_topic_txt">Last Will Topic</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="last_will_mes_txt" name="last_will_mes"
                            placeholder="Last Will Message">
                        <label for="last_will_mes_txt">Last Will Message</label>
                    </div>
                    <div class="row g-2">

                        <div class="form-floating col-4">
                            <select class="form-select" id="last_will_qos_select" name="last_will_qos">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                            <label for="last_will_qos_select">QoS</label>
                        </div>

                        <div class="form-check form-switch col-3" style="margin: 25px">
                            <input class="form-check-input" type="checkbox" id="last_will_retain_check"
                                name="last_will_retain">
                            <label class="form-check-label" for="last_will_retain_check">Retain</label>
                        </div>
                    </div>
                </div>
            </div>



        </div>
        <div style="display: flex; justify-content: center;">
            <button type="submit" class="btn button-circle">Connect<i
                    class="far fa-long-arrow-right fa-fw"></i></button>
        </div>

    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
        </script>
    <script>
        function select_TCP() {
            broker_port_txt.value = "1885"
            document.body.style.backgroundColor = 'yellowgreen'
        }
        function select_QUIC() {
            broker_port_txt.value = "8885"
            document.body.style.backgroundColor = 'cornflowerblue'
        }
    </script>

</body>

</html>