<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>

  Publish<br>
  Message : <input type='text' id="publish_mes" />
  Topic : <input type='text' id="publish_topic" />
  QOS : <input type='text' id="publish_qos" />
  Retain : <input type='checkbox' id="publish_retain" />
  <button onclick="publish_click()">PUBLISH</button><br>
  <br><br>
  <p id="rec_mes"></p>

  Subscribe<br>
  Topic : <input type='text' id="subscribe_topic" />
  QOS : <input type='text' id="subscribe_qos" />
  <button onclick="subscribe_click()">SUBSCRIBE</button>

</body>
<script src="/javascripts/script.js"></script>

</html>